.container.border.rounded
  .row
    .col-lg
      %h1.text-center
        = @user.firstname
        = @user.lastname
  .row
    .col
      %h4.text-center
        =@user.subtitle
.container.border.rounded
  .row
    .col-lg
      %h3 &nbsp Basic Information
  .row
    .col-lg-7
      %p
      = @user.bio
      %p
      %p
        %b Edad: &nbsp
        = @age
      %p
      %p
        %b Correo Electrónico: &nbsp
        = link_to @user.email
    .col-lg-2
    .col-lg-2
      = image_tag @user.image, class:"img"

.container
  .row
    %h3 &nbsp Hobbies
  .row
    - @hobbies.each do |h|
      .col-md-4.col-sm-6
        .card
          .card-body
            %h4.card-title
              = h.name
            %h6
              = h.category
            %p
              = h.description
            %p
              = h.preference

.container
  .row
    %h3 &nbsp Certifications
  .row
    .col
      %ul
        - @certifications.each do |certification|
          %li.list-group-item
            = certification.name
            = link_to 'View file', certification.document
.container.border.rounded
  .row
    .col-lg-11
    .col-lg-1
      =button_to 'Edit', edit_user_path(@user), method: :get
