%h1 Editing User

= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :firstname, "Name"
    = f.text_field :firstname, :required => true
  .field
    = f.label :lastname, "Last Name"
    = f.text_field :lastname, :required => true
  .field
    = f.label :email
    = f.email_field :email, :required => true
  .field
    = f.label :username
    = f.text_field :username, :required => true
  .field
    = f.label :subtitle
    = f.text_field :subtitle
  .field
    = f.label :biography
    = f.text_area :bio
  .field
    = f.label :birthdate
    = f.date_select(:birthdate , :start_year => 1940, :end_year => Date.current.year - 10)
  .field
    =f.label :Photo
    =image_tag @user.image, class:"img"
  .field
    =f.file_field :image
  .actions
    = f.submit 'Save'
.container
  .row
    .col-2
      =button_to 'Add Hobbies', user_hobbies_path(@user), method: :get
    .col-2
      =button_to 'Add Certificates', user_certifications_path(@user), method: :get
    .col-2
      =button_to 'Add Friends', search_path, method: :get
    .col-2
      =button_to 'Back to Profile', user_path(@user), method: :get
