%h1 Listing Users

%table
  %thead
    %tr
      %th Name
      %th Last Name
      %th Subtitle
      %th Email
      %th Username
      %th Biography
      %th Age
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.firstname
        %td= user.lastname
        %td= user.subtitle
        %td= user.email
        %td= user.username
        %td= user.bio
        %td= user.birthdate
        %td= link_to 'View Profile Picture', user.image
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
