%h1 New User

= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :firstname, "Name"
    = f.text_field :firstname, :required => true
  .field
    = f.label :lastname, "Last Name"
    = f.text_field :lastname, :required => true
  .field
    = f.label :email
    = f.email_field :email, :required => true
  .field
    = f.label :username
    = f.text_field :username, :required => true

  .actions
    = f.submit 'Save'

= link_to 'Back', users_path
