%p#notice= notice
%h1 Hobbies
%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Preference
      %th Category
  %tbody
    - @hobbies.each do |hobby|
      %tr
        %td= hobby.name
        %td= hobby.description
        %td= hobby.preference
        %td= hobby.category
        %td= link_to 'Edit', edit_hobby_path( hobby )
        %td= link_to 'Destroy', hobby, method: :delete, data: { confirm: 'Are you sure?' }
%br/

.container
  .row
    .col-1
      =button_to 'New', new_user_hobby_path(@user), method: :get
    .col-1
      =button_to 'Back to Edit', edit_user_path(@user), method: :get
