%h1 New Hobby

= form_with(model: [@user, @hobby], local: true) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :preference
    = f.number_field(:preference, :min => 1, :max =>5)
  .field
    = f.label :category
    = f.select :category, Hobby.categories.keys.map {|cat| [cat.titleize, cat]}
  .actions
    = f.submit 'Save'
