%h1 Edit Certification

= form_with(model: [@certification], local: true) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :file
    = f.file_field :document, :required => true

  .actions
    = f.submit

