%p#notice= notice
%h1 Certifications
%table.table
  %thead
    %tr
      %th Name
      %th File
  %tbody
    - @certifications.each do |certification|
      %tr
        %td= certification.name
        %td= link_to 'View Certification', certification.document
        %td= link_to 'Edit', edit_certification_path( certification )
        %td= link_to 'Destroy', certification, method: :delete, data: { confirm: 'Are you sure?' }
%br/

.container
  .row
    .col-1
      =button_to 'New', new_user_certification_path(@user), method: :get
    .col-1
      =button_to 'Back to Edit', edit_user_path(@user), method: :get
