// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img{
  height: 250px;
  width: 250px;
  margin-bottom: 40px
}

.container{
  margin-top: 30px
}


